div {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
}

#first {
      margin-bottom: 50px;
      padding: 10px;
  }

  #second {
      margin-bottom: 5px;
      padding-left: 50px;
      padding-top: 20px;
      padding-right: 50px;
      padding-bottom: 20px;
  }

  #third {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 25px;
  }

  #fourth {
      margin-top: 100px;
      padding-top: 10px;
      padding-left: 100px;
      padding-bottom: 25px;
      padding-right: 50px;
  }
